## Tirando a pasta edição.
_outros/_edicao/*

## Tirando a pasta de configraçõa do .vscode 
exercicios/C/.vscode/*
exercicios/C++/.vscode/*
exercicios/Python/.vscode/*
exercicios/SQL/.vscode/*

## removendo todos os executávies
*.exe